body {
	border-width: 0px;
	padding: 0px;
	margin: 0px;
	font-size: 90%;
	background-color: #e7e7de;
}

.grid-row {
	position: relative;
	float: left;
	left: 250px;
	width: 1180px;
	margin-bottom: 4px;
	background-color: #cccccc;
}

.drop {
	background: url(bluesquare.jpg);
}

.drag-over {
	background: url(lightgraysquare.jpg);
}

.drag-disabled {
	background: url(lightgraysquare.jpg);
}

.drag-activate-positive {
	background: url(greensquare.png);
}

.drag-activate-negative {
	background: url(redsquare.jpg);
}

.drag-activate-maybe {
	background: url(yellowsquare.jpg);
}

.highlight-droppable {
	background: url(lightgraysquare.jpg);
}

.square {
	position: relative;
	float: left;
	width: 68px;
	height: 68px;
	background-color: #828282;
}

.square-header {
	background-color: white;
}

.square-00 {
	left: 2px;
	width: 168px;
	background-color: white;
}

.square-01 {
	left: 2px;
}

.square-02 {
	left: 6px;
}

.square-03 {
	left: 10px;
}

.square-04 {
	left: 14px;
}

.square-05 {
	left: 18px;
}

.square-06 {
	left: 22px;
}

.square-07 {
	left: 26px;
}

.square-08 {
	left: 30px;
}

.square-09 {
	left: 34px;
}

.square-10 {
	left: 38px;
}

.square-11 {
	left: 42px;
}

.square-12 {
	left: 46px;
}

.square-13 {
	left: 50px;
}

.square-14 {
	left: 54px;
}